img {
    width: 100px;
    height: 46px;
    object-fit: cover;
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #343a40;
    padding: 40px;
}
  
.container {
    max-width: 1200px;
    margin: 0 auto;
}
 
  /* Style pour la partie "Managed by" */
  .managed-by {
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .foundation-logo img {
    max-width: 100%;
    height: auto;
  }
  
  /* Style pour les liens sociaux */
  .social-links a {
    margin-right: 10px;
  }
  
  /* Style pour les liens Solana et les liens de connexion */
  .solana-links ul,
  .get-connected-links ul {
    list-style-type: none;
    padding: 0;
  }
  
  .solana-links ul li,
  .get-connected-links ul li {
    margin-bottom: 10px;
  }
  
  /* Style pour le texte de copyright */
  .copyright {
    margin-top: 20px;
    text-align: center;
  }
  
  .copyright span {
    font-size: 14px;
    color: #777;
  }