*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background-color: black;
  color: white;
	background-image: url(ia.gif);
	background-attachment: fixed;
	background-size: cover;
	background-position: center;
}

/*--------barre d'en haut----------*/

.navigation {
	width: 100%;
	height: 80px;
    display: flex;
    flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-evenly;
	position: fixed;
    z-index: 99;
	backdrop-filter: blur(5px);;
}

.logo {
    width: 110px;
	height: 50px;
	margin-top: 10px;
	margin-right: 340px;
	margin-left: 20px;
}

.navigation ul {
    margin-top: 10px;
}

.navigation a {
    position: relative;
    font-size: 1.1em;
    color: white;
    text-decoration: none;
    font-weight: 500;
    margin-left: 40px;
}

.navigation a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 3px;
    background: white;
    border-radius: 5px;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .5s;
}

.navigation a:hover::after{
    transform-origin: left;
    transform: scalex(1);
} 

.btnLogin-popup {
    width: 130px;
    height: 50px;
    background: transparent;
    border: 2px solid #fff;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.1em;
    color: #fff;
    font-weight: 500;
    margin-left: 40px;
    transition: .5s;
}

.navigation .btnLogin-popup:hover {
    background: #fff;
    color: #162938;
}

.navigation a.active::after,
.navigation a:hover::after {
    transform-origin: left;
    transform: scaleX(1);
}

/*----barre bas-----*/

footer {
	bottom: 0;
	width: 100vw;
	background-color: rgb(red, green, blue);
	padding: 40px;
}
	
.container {
	max-width: 1200px;
	margin: 0 auto;
}
   
.foundation-logo img {
	max-width: 100%;
	height: auto;
}
	
.copyright {
	margin-top: 20px;
	text-align: center;
}
	
.copyright span {
	font-size: 14px;
	color: #777;
}

.social {
	margin-top: 10px;
	width: 30px;
	height: 30px;
	object-fit: cover;
}
  
.found {
	width: 200px;
	height: 90px;
	object-fit: cover;
}

.connexion {
	width: auto;
	height: 100vh;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

form {
  width: 500px;
  background-color:rgba(0, 0, 0, 0.9);
  padding: 60px;
  box-sizing: border-box;
  border-radius: 20px;
	box-shadow: 0 8px 65px -5px #CD106E;
}
  
input {
  position: center;
  display: block;
  margin: 10px auto;
  width: 300px;
  padding: 6px 10px;
  outline: none;
  border: none;
  box-sizing: border-box;
  border-radius: 6px;
}

input[type="submit"] {
  background-color: black; 
  color: white; 
  padding: 10px 20px; 
}

input[type="submit"]:hover {
  background-color: #343a40
}

